// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// header
.site-header{
  background: #111;
  display: flex;
  padding: 60px 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding:10px 10px;
  margin:0;
}
.site-logo{
  height: 80px;
  width: auto;
}
.gnav__menu{
  display: flex;
  list-style: none;
  
}
.gnav__menu__item{
  margin-left: 20px;
  vertical-align:center;
}
.gnav__menu__item a{
  color: #fff;
  text-decoration: none;
}
.container{
  padding-top:100px;
}